section.contacto{
	position: relative;
	padding: 50px 0;
	.titulo-contacto {
		@media(max-width: 767px){
			margin-bottom: 50px;
		}
	}
	form#contacto{
		.form-group{
			.form-control{
				border: 2px solid black;
				border-radius: 0;
				padding: 20px;
				text-transform: uppercase;
				letter-spacing: 3px;

			}
		}
		.btn-negro-lg{
			margin-top: 10px;
			padding: 10px 40px;
		}

		.wpcf7-form-control{

			&.wpcf7-submit{
				@include btn-negro;
				margin-top: 10px;
				padding: 10px 40px;
			}
		}
	}
	.wpcf7-response-output {
		margin-top: 20px;
		padding: 10px;
		//border: 2px solid #ff0000;
		text-align: center;
		&.wpcf7-validation-errors,
		&.wpcf7-acceptance-missing {
			border-color: red;
		}
	}

	img{
		&.mapa-r, &.mapa-l{
			@media(min-width: 769px){
			display: table;
			margin: 0 auto;
			margin-top: 50px;
			}
			@media(max-width: 768px){
				display: none;
			}
		}
		&.mapa-chile-v{
			@media(min-width: 769px){
				max-width: 350px;
				display: none
			}
			@media(max-width: 768px){
				//margin-top: 20px;
				display: block;
				max-width: 250px;
				margin: 30px auto;

			}
		}
	}

}
