footer{
	//padding: 100px 0;
	background: $gris-claro;
	//min-height: 330px;
	position: relative;
	padding: 70px 0;
	.footer-inner{
		//@include centerer(true, true);
		text-align: center;
		#logo-footer{
			margin: 0 0 40px 0;
		}
		ul.nav-links-footer{
			margin: 0;
			padding: 0;
			li{
				display: inline-block;
				margin: 0 5px 0 5px;
				color: $gris-oscuro;
				@include font-size(12px);
				font-weight: bold;
				letter-spacing: 3px;
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
				a{
					color: $gris-oscuro;
					@include link;
				}
			}
		}
		.copy{
			p{
				color: #b4b3b3;
				margin: 0 0 40px 0;
			}
		}
		.rrss-footer{
			ul{
				margin: 0;
				padding: 0;
				li{
					display: inline-block;
					a{
						display: block;
						cursor: pointer;
						margin-right: 15px;
						margin-left: 15px;
						color: #0f0f0f;
					}
				}
			}
		}
	}
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


#myModal{
	.modal-dialog{
		.modal-content{
			position: relative;
			border: 10px solid rgba(255,255,255,.4);
			padding: 20px 15px 0 15px;
			.modal-body{

				.close{
					position: absolute;
					opacity: 1;
					color: white;
					font-size: 40px;
					right: -40px;
					top: -40px;
					width: 40px;
					height: 40px;
					outline: none;
					display: inline-block;
					background-color: red;
					border-radius: 50px;
					cursor: pointer;
					@media(max-width:767px){
						right: -25px;
						top: -30px;
					}
				}
				h1{
					font-family: "Bebas", Helvetica, Arial, sans-serif;
					color: black;
					@include font-size(28px);
					text-transform: uppercase;
					margin-bottom: 20px;

				}
				p{
					font-family: "Greysans", Helvetica, Arial, sans-serif;
					color: black;
					@include font-size(14px);
				}
			}
		}
	}
}
