footer{
	//padding: 100px 0;
	background: $gris-claro;
	//min-height: 330px;
	position: relative;
	padding: 70px 0;
	.footer-inner{
		//@include centerer(true, true);
		text-align: center;
		#logo-footer{
			margin: 0 0 40px 0;
		}
		ul.nav-links-footer{
			margin: 0;
			padding: 0;
			li{
				display: inline-block;
				margin: 0 5px 0 5px;
				color: $gris-oscuro;
				@include font-size(12px);
				font-weight: bold;
				letter-spacing: 3px;
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
				a{
					color: $gris-oscuro;
					@include link;
				}
			}
		}
		.copy{
			p{
				color: #b4b3b3;
				margin: 0 0 40px 0;
			}
		}
		.rrss-footer{
			ul{
				margin: 0;
				padding: 0;
				li{
					display: inline-block;
					a{
						display: block;
						cursor: pointer;
						margin-right: 15px;
						margin-left: 15px;
						color: #0f0f0f;
					}
				}
			}
		}
	}
}
