@font-face {
    font-family: 'Greysans';
    src: url('../fonts/grey_sans_light-webfont.woff2') format('woff2'),
         url('../fonts/grey_sans_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.woff2') format('woff2'),
        url('../fonts/Pacifico-Regular.woff') format('woff'),
        url('../fonts/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/BebasNeueBold.woff') format('woff'),
        url('../fonts/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hoefler';
    src: url('HoeflerText-Regular.woff2') format('woff2'),
        url('HoeflerText-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}



