.banderita{
	position: absolute;
	background-color: transparent;
	width: 4px;
	height: 4px;
	top: -100px;
	@media(max-width:768px){
		top: -60px;
	}
	@media(max-width:330px){
		top: -104px;
	}
}
.banderita-contacto{
	position: absolute;
	background-color: transparent;
	width: 4px;
	height: 4px;
	top: -150px;
	@media(max-width:768px){
		top: -60px;
	}
	@media(max-width:330px){
		top: -154px;
	}
}

//lista con guiones
@mixin lista-guion{

		ul.dashed {
		    list-style: none;
		    padding-left: 0;
		}

		ul.dashed > li {
		    margin-left: 15px;
		}

		/* Prevent nested li's from getting messed up */
		ul.dashed > li::before {
		    content: "- ";
		    margin-left: -15px;
		}
}


// titulo de las secciones  interiores

.titulo-seccion{
	min-height: 60px;
	background-color: #000;
	text-align: center;
	position: relative;
	h4{
		@include centerer(true, true);
		margin: 0;
		@include font-size(26px);
		color: white;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-family: $bebas;
		width: 100%;
		@media(max-width:768px){
			@include font-size(16px);
		}
	}
}

/*====== cajas con thumb ======*/
@mixin hoverzoom{
   a{
          overflow: hidden;
          display: block;

          img{
                transition: all 0.5s ease;
                transform: scale(1);
               	opacity: 1;
            }
            &:hover, &:focus{
              img{
	                @media(min-width: 1025px){
	            	opacity: 0.8;
	                transform: scale(1.05);
	                }
                }// img producto
            }
      }
}

.box{
	overflow: hidden;
	width: 100%;
	display:block;
	cursor: pointer;

	@include hoverzoom;

	.box-title{
		position: relative;
		min-height: 40px;
		margin: 10px 0;
		i{
			@include font-size(18px);
		}
		h3{
			@include centerer(true, true);
			font-family: $bebas;
			@include font-size(20px);
			text-transform: uppercase;
			color: black;
			letter-spacing: 3px;
		}
	}
}

.mt-50{
	margin-top: 50px;
}
.mb-50{
	margin-bottom: 50px;
}

.float-right{
	float: right;
}
.bg-negro{
	background: black;
	height: 100%;
	position: relative;
}
.center{
	@include centerer(true, true);
	@media(max-width:768px){
		position: relative;
		left: auto;
		top: auto;
		transform: none;
		display: block;
		margin: 0 auto;
	}
}
.no-pad{
	padding: 0 !important;
}
textarea {
    resize: none;
}
@mixin link{
  	transition: all 0.3s ease;
  	cursor: pointer;
  	&:hover, &:focus{
    	text-decoration: none;
    	color: black;
  	}
}
.section{
	padding: 50px 0 50px 0;
}
.section-title{

  	margin-bottom: 50px;
 }
@mixin btn-blanco{
	border-radius:0;
	background-color: #fff;
	border: 1px solid black;
	font-family: $font-stack;
	color: black;
	text-transform: uppercase;
	@include font-size(14px);
	letter-spacing: 3px;
	@include link;
	cursor: pointer;
	&:hover,&:focus{
		background-color: $gris ;
		border-color: transparent ;
		color: white;
	}
}
@mixin btn-negro{
	border-radius:0;
	background-color: #000;
	border: 1px solid black;
	font-family: $font-stack;
	color: white;
	text-transform: uppercase;
	@include font-size(14px);
	letter-spacing: 3px;
	@include link;

	&:hover,&:focus{
		background-color: $gris;
		border-color: transparent;
		color: white;
	}

}
.btn-transparente{
	@include btn-blanco;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	margin-top: 16px;
	@media(max-width:767px){
		margin-top: 8px;
	}
	&:hover,&:focus{
		background-color: #EF1B1C;
		border-color: transparent;
		color: white;
	}
	&.float-right{
		float: right;
	}
}
.btn-blanco-lg{
	@include btn-blanco;
	margin: 60px 0;
	padding: 10px 70px;

}
.btn-blanco-md{
	@include btn-blanco;
	margin: 20px 0;
	padding: 10px 70px;

}
.btn-negro-lg{
	@include btn-negro;
	padding: 10px 70px;
}

@mixin titulo-noticias{
		z-index: 10;
		@media(max-width:767px){
			width: 90%;
		}
		h2{
			font-family: 'Bebas';
			@include font-size(70px);
			color: white;
			text-transform: uppercase;
			text-align: right;
			margin-bottom: -20px;
			padding: 0;
			z-index: 11;
			&.text-left{
				text-align: left;
			}
			@media(max-width:767px){
				@include font-size(40px);
				margin-bottom: -13px;
			}

		}
		h3{
			font-family: 'Hoefler';
			@include font-size(40px);
			color: white;
			text-transform: uppercase;
			text-align: right;
			margin: 0;
			padding: 0;
			&.text-left{
				text-align: left;
			}
			@media(max-width:767px){
				@include font-size(25px);
			}
		}
		h4{
			font-family: 'Pacifico';
			@include font-size(30px);
			color: white;
			text-transform: capitalize;
			text-align: right;
			margin: 0;
			padding: 0;
			@media(max-width:767px){
				@include font-size(20px);
			}
		}

}
@mixin texto-noticias{
	font-family: $greysans;
	@include font-size(14px);
	text-align: center;
	color: white;
		@media(max-width:768px){
			@include font-size(14px);
		}
}
@mixin texto-lista{
	font-family: $greysans;
	@include font-size(14px);
	//text-align: center;
	color: white;
		@media(max-width:768px){
			@include font-size(16px);
		}
}
@mixin titulo-blanco{
	font-family: 'Bebas';
	@include font-size(25px);
	color: white;
	text-transform: uppercase;
		@media(max-width:767px){
			@include font-size(26px);
		}
}


